
main.admin{
    min-height: 560px;
}

/*******************************************************
            Page detail santon
*****************************************************/
.detail-ajout-panier form{
    margin-bottom:0;
}
.detail-ajout-panier .form-group{
    margin-bottom: 0;
    display: inline-block;
}
.quantite select.form-control{
    display: inline-block;
    width: auto;
}

#section-detail-santon figure{
    margin-bottom: 15px;
}


/*******************************
    menu categorie de gauche
*********************************/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #fdd4d4;
    color: #647277;

}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: 0 none;
}
.col-nav-left li a{
     border-radius: 20px;

}
.col-nav-left .active a, .col-nav-left li a:hover{
    background: #fdd4d4;
    color: #647277;
}


/***************************************************
        Page accueil livre or
**************************************************/
#carousel-temoignage .temoignage:before{
    content: "\"";
    font-size:4em;
    display: inline-block;
    position: relative;
    float: left;
    color: white;
    font-weight: bold;
    font-family: 'palanquin', helvetica, sans-serif;
    top: -50px;
}


/*####################### SHOPPING CART INFO BAR(The one that display total items in the cart) #######################*/ 
.shopping_cart_info_holder{margin-bottom:20px; text-align: center;}
.shopping_cart_info{
	margin-top:8px;
}
.shopping_cart_info:hover{border:1px solid #dedede;}
/*####################### //// SHOPPING CART INFO BAR #######################*/


/*####################### THE SHOPPING CART #######################*/
.shopping_cart_holder{ 
	position: absolute;
    right:0;
    left:0;
    z-index:999999;
	display:none;
    margin:0 auto;
    margin:0 auto;    
	margin-top: 30px;
	padding: 5px;
    max-width: 600px;
    max-width: 600px;
    border:1px solid #dedede;
	border-radius: 4px;
	background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
	color: #000;
}

table tr td.itemInCartDisplay{
    vertical-align: middle;
}
.shopping_cart_holder ul.cart-products-loaded{margin: 0;padding: 0;list-style: none;}
/* Close viewing shopping cart */
.shopping_cart_holder .close_shopping_cart_holder{
    float: right;
    padding: 2px 5px;
    color: #647277;
    font-size: 15px;
}
.shopping_cart_holder .close_shopping_cart_holder:hover{border:collapse;background-color: #647277;color: #fff; border-radius: 22px;}
#shopping_cart_output ul.cart-products-loaded li{margin-bottom: 1px;padding: 5px;background: #888;}
.shopping_cart_holder .remove_item_from_cart{
    float: right;
    margin-left: 30px;
    padding: 0 10px;
    color: #647277;
    text-decoration: none;
    font-size: 18px;
}
.shopping_cart_holder .remove_item_from_cart:hover{font-weight:600;}
.cart-products-total{padding: 5px 0px 0px 5px;text-align: right;font-weight: bold;}
.shopping_cart_holder h3{margin-bottom:15px;padding: 0px 0px 5px 0px;color:#647277;}

/* Checkout button */
.shopping_cart_holder .checkoutButton{
}
/* Checkout button hover */
.shopping_cart_holder .checkoutButton:hover{font-weight: 700;}
.itemInCardRow{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
.quantity_change{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #6E8A94;
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.quantity_change:hover{
    text-decoration: none;
    background-color: #BAD1D1;
}
/*####################### //// THE SHOPPING HOLDER #######################*/

/*####################### DISPLAY INFO ABOUT UPDATED CART(in the middle of the page) #######################*/
#cart_update_info { 
    position:fixed;    
    top: 50%;
    left: 50%;    
    z-index:1000000;
    margin-left: -8em;
    width:10em;
    height:auto;
}
#new_item_added{
    position:fixed;
    margin:0 auto;
    padding:5px;
    max-width: 250px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.32);
    
    text-align:center;
    text-decoration: none;
/*    font-family: Arial;*/
    font-size: 20px;
}

/*####################### DISPLAY INFO ABOUT UPDATED CART(in the middle of the page) #######################*/

/*********************************************************************
            bloc santon liste santon
**************************************************************/

.bloc-santon .item_disp_values{
    margin:10px 0;
}
.bloc-santon .item_disp_values select{
    padding: 4px;
}

/**********************************************************************
            Admin - Accueil
**********************************************************************/

#admin-accueil .btn-block{
    padding: 50px 15px;
    margin-bottom: 15px;
    font-size: 2em;
    color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #BAD1D1;
    text-align: center;
    text-decoration: none;
    transition: all .5s ease;
}
#admin-accueil .btn-block:hover{
    background-color: #6E8A94;
}
/****************************************************************
                    Admin - Login
*****************************************************************/
.login-block{
    background-color: #fdd4d4;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-top: 50px;
}
.login-block-inner{
    padding: 25px 15px;
}
.login-block h2{
    text-align: center;
}
.login-block form .group{
    margin-bottom: 30px;
}

.login-block .bar:before, .login-block .bar:after {
    background: #BAD1D1; 
}

/****************************************************************
                    Admin - Santon
*****************************************************************/
.table-img{
    max-width: 50px;

}
.table tbody tr td{
    vertical-align: middle;
}

.admin .col-nav-left{
    display: block;
}

.admin .col-nav-left .nav>li{
    display: inline-block;
}

#formAjoutSanton .formulaire{
    margin-top: 35px;
}
#formAjoutSanton form label{
    left:2%;
}

#formAjoutSanton input:focus ~ label, #formAjoutSanton input.used ~ label, #formAjoutSanton textarea:focus ~ label, #formAjoutSanton textarea.used ~ label{
    left:0;
}

#formAjoutSanton select {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    padding: 13px 8px 8px 6px;
    height: auto;
    border: 0.01em solid rgba(219,211,202,0.5);
    border-radius: 6px;
}
#formAjoutSanton select:focus{
        box-shadow: 0 0 6px rgb(253, 212, 212);
}

/************** Ecran ordinateur ********************/
@media screen and (min-width:992px) {
    
    /*************** Admin santon *************/

    .admin .col-nav-left .nav>li{
        display: block;
    }

}