@media screen and (min-width:992px) {
	.list-article {
	margin: 20px 50px;
	
	}

h3 {
	padding-left: 5px;
}

.list-article-inner{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	margin-top: 20px;
}

.list-article article:hover {
	border: none !important;
	box-shadow: 8px 8px 5px rgba(0,0,0,0.2) !important;	
}

	
