body{
	background: #F3ECD9;
}
header{
	background: #6E8A94;
	padding-top: 40px;
}
footer{
	background: #6E8A94;
	margin-top: 50px;
}

/*****************************************************
		Bouton
***************************************************/
.btn-default{
	background-color: #BAD1D1;
	color: #fff;
	border-color: #6E8A94;
}

.btn-default:hover{
	background-color: #6E8A94;
	color: #fff;

}
/*****************************************************
		Navbar
*********************************************************/
.navbar-form{
	margin-bottom: 15px;
}
.navbar-brand{
	color: #fff;
	font-size: 2.3em;
}
.navbar{
	background: #FCB3B3;
	min-height: auto;
	margin-bottom: 0;
	border: 0 none;
	border-radius: 0;
}
.nav li a{
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	white-space: nowrap;
}
.nav > li > a{
	padding: 15px 15px;
}

.nav>li>a:focus, .nav>li>a:hover, .nav li.active a{
	background: #BAD1D1;
}

.navbar-default .navbar-toggle{
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
/*************************************************************
			Accueil - carousel temoignage
******************************************************/
#section-temoignage{
	background: #FCB3B3;
}
#carousel-temoignage .item{
	height: 300px;
}
#carousel-temoignage .temoignage{
	text-align: center;
    font-size: 1.6em;
        padding: 85px 140px;
}
#carousel-temoignage .carousel-control{
	background: none;
}

/**************************************************
			contenu accueil
**************************************************/
section{
	margin-bottom: 40px;
}
article .article-inner img{
	width: 100%;
}