@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-ExtraLight.ttf');
	src: url('../fonts/Palanquin-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Light.ttf');
	src: url('../fonts/Palanquin-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Regular.ttf');
	src: url('../fonts/Palanquin-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Medium.ttf');
	src: url('../fonts/Palanquin-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-SemiBold.ttf');
	src: url('../fonts/Palanquin-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Bold.ttf');
	src: url('../fonts/Palanquin-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

body{
	background: #f7f2e6;
}
header{
	background: #6E8A94;
	padding-top: 40px;
}
footer{
	background: #6E8A94;
	margin-top: 50px;
}

h1, h2, h3, h4, .navbar-brand, .navbar li a, .btn-default, .col-nav-left li a{
	font-family: 'palanquin', helvetica, sans-serif;
}
h2{
	color: #647277;
}
/*****************************************************
		Bouton
***************************************************/
.btn-default{
	background-color: #BAD1D1;
	color: #fff;
	border-color: #BAD1D1;
}

.btn-default:hover{
	background-color: #6E8A94;
	border-color: #6E8A94;
	color: #fff;

}

.navbar-form .btn-default:hover{
	background-color: #6E8A94;
	color: #fff;
	border-color: #BAD1D1;
}

/*****************************************************
		Navbar
*********************************************************/
.navbar-form{
	margin-bottom: 15px;
}
.navbar-brand{
	color: #fff;
	font-size: 2.9em;
    font-weight: 300;
}
.navbar{
	background: #FCB3B3;
	min-height: auto;
	margin-bottom: 0;
	border: 0 none;
	border-radius: 0;
}
.navbar li a{
	color: #fff;
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
}
.nav > li > a{
	padding: 15px 15px;
}

.nav>li>a:focus, .nav>li>a:hover, .nav li.active a, .nav li.active a:hover{
	background: #BAD1D1;
	color: #647277;
}

.navbar-default .navbar-toggle{
	border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
/*************************************************************
			Accueil - carousel temoignage
******************************************************/
#section-temoignage{
	background: #FCB3B3;
}
#carousel-temoignage .item{
	height: 300px;
}
#carousel-temoignage .temoignage{
	text-align: center;
    font-size: 1.6em;
        padding: 85px 140px;
}
#carousel-temoignage .carousel-control{
	background: none;
}

/**************************************************
			contenu accueil
**************************************************/
section{
	margin-bottom: 40px;
}
section img{
	width: 100%;
}

/***********************************************
			Categorie Liste santon
**************************************************/
.container h2{
	padding-bottom: 10px;
    border-bottom: 1px solid #647277;
    margin-bottom: 30px;
    color: #647277;
}
.section-content{
	padding: 0;
}
.col-nav-left{
	display: block;
}
.col-nav-left, .col-nav-left .nav a{
	color:#647277;
}
.col-nav-left li a{
	font-weight: 600;
}
.col-nav-left li a:hover, .col-nav-left li.active a, .col-nav-left li.active a:hover, .col-nav-left li a:focus{
	border-radius: 0;
	color: #fff;
}
.col-nav-left h3{
	margin-top: 0;
}
.col-nav-left li a:hover{

}
.bloc-santon{
	margin-bottom: 20px;
}
.bloc-santon-inner{
	text-align: center;
	background: #fff;
	padding: 0 0 20px 0;
	min-height: 340px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	transition: all 1s ease;
}

.bloc-santon-inner:hover{
	background: #BAD1D1;
	/*-webkit-box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.2);
	box-shadow: 2px 1px 3px 2px rgba(0,0,0,0.2);
	transform:scale(1.02,1.02);*/
	transition: all 0.5s ease;
}
.bloc-santon-inner .btn-default:hover{
	/*font-size: 1.1em;*/
}
.bloc-santon-inner:hover .btn-default{
	background: #6E8A94;
	border-color: #6E8A94;
	color: #fff;
	transition: all 0.5s ease;
}
.bloc-santon-inner:hover .btn-default:hover{
	color: #fff;
}
.bloc-santon-inner .prix-santon{
	font-size: 1.4em;
}
.bloc-santon-inner h3{
	padding: 0 10px;
	margin-top: 10px;
	font-size: 1.3em;
}
.bloc-santon-inner h3 a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
	display: block;
	height: 2.6em;
}
.bloc-santon-inner h3 a:hover{
	color:#647277;
}
.bloc-santon-inner p{
	padding: 0 10px;
}

.ajout-panier span{
	display: inline-block;
	font-size: 0;
	margin-left: 0px;
	transition: 0.5s ease;

}
.ajout-panier:hover span{
	margin-left: 10px;
	font-size: 14px;
}


/**************************************************************
		Detail santon
**********************************************************/

.detail-santon h3{
	margin-top: 0;
}

#quantite-value{
	width: 65px;
	display: inline-block;
}

#buy-block .prix{
	font-family: 'palanquin';
	display: inline-block;
	font-size: 1.9em;
	margin-left: 50px;
	line-height: 1em;

}
.prix-article{
    vertical-align: top;
}

#buy-block .prix .euro{
	font-size: 0.65em;
	vertical-align: super;
}

.bouton-panier{
	margin-left: 40px;
}
.form-inline .form-group{
	display: inline-block;
}

@media screen and (max-width: 768px) {
	
	#buy-block .prix{
		position: relative;
	}
	.prix-article{
    	vertical-align: baseline;
	}
	#buy-block .prix .euro{
		position: relative;
		top:0.3em;
	}
}

@media screen and (max-width: 992px) {

	.col-nav-left{
		display: none;
	}
}