@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-ExtraLight.ttf');
	src: url('../fonts/Palanquin-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Light.ttf');
	src: url('../fonts/Palanquin-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Regular.ttf');
	src: url('../fonts/Palanquin-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Medium.ttf');
	src: url('../fonts/Palanquin-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-SemiBold.ttf');
	src: url('../fonts/Palanquin-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'palanquin';
	src: url('../fonts/Palanquin-Bold.ttf');
	src: url('../fonts/Palanquin-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

body{
	background: #f7f2e6;
}
header{
	background: #6E8A94;
	padding-top: 40px;
}
main{
	min-height: 640px;
}
footer{
	background: #6E8A94;
	margin-top: 50px;
}

h1, h2, h3, h4, .navbar-brand, .navbar li a, .btn-default, .col-nav-left li a{
	font-family: 'palanquin', helvetica, sans-serif;
}
h2{
	color: #647277;
}
/*****************************************************
		Bouton
***************************************************/
.btn-default{
	background-color: #BAD1D1;
	color: #fff;
	border-color: #BAD1D1;
}

.btn-default:hover{
	background-color: #6E8A94;
	border-color: #6E8A94;
	color: #fff;

}

.navbar-form .btn-default:hover{
	background-color: #6E8A94;
	color: #fff;
	border-color: #BAD1D1;
}

/*****************************************************
		Navbar
*********************************************************/
.navbar-form{
	margin-bottom: 15px;
}
.navbar-brand{
	color: #fff;
	font-size: 2.9em;
    font-weight: 300;
}
.navbar{
	background: #F7F2E6;
	min-height: auto;
	border: 0 none;
	border-radius: 0;
	margin-bottom: 15px;
}
.navbar ul > li{
	padding: 0 5px;
	margin-bottom:5px;
}
.navbar li a{
	color: #647277;
	font-weight: 500;
	text-transform: uppercase;
	white-space: nowrap;
	border-radius: 20px;
}

.navbar>li>a:focus, .navbar ul>li>a:hover, .navbar li.active > a, #dropcategorie > a:hover, li.active #dropcategorie > a,#dropcategorie.open>a , li.active #dropcategorie > a:focus {
	background: #fdd4d4;
	color: #647277;
	border-radius: 20px;
	text-decoration: none;
	top:0;
	transition: all .5s ease;
	
}

.navbar-default .navbar-toggle{
	border-color: #fdd4d4;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #fdd4d4;
}
.nav > li > a, #dropcategorie > a{
	padding: 15px 15px;
}
 #dropcategorie > a{
 	display: block;
 	position: relative;
 }
#dropcategorie{
	text-align: center;
}

#dropcategorie ul{
	background: #fdd4d4;
}



#dropcategorie > ul > li > a:hover, #dropcategorie > ul > .active > a, #dropcategorie ul li > a:focus {
	color: #fff;
	background-color: #647277;
	top: -10px;
	box-shadow: none;
}

#panier {

}

/*********************************************************
			Accueil - Carousel Principal
*********************************************************/

#carousel-accueil{
	margin-bottom: 40px;
}

/*********************************************************
			Accueil - carousel temoignage
******************************************************/
#section-temoignage{
	background: #fdd4d4;
	margin-top: 70px;
}
#carousel-temoignage .item{
	height: 300px;
}
#carousel-temoignage .temoignage{
	text-align: center;
    font-size: 1.6em;
        padding: 85px 140px;
}
#carousel-temoignage .carousel-control{
	background: none;
}

/**************************************************
			contenu accueil
**************************************************/
section{
	margin-bottom: 40px;
}
section img{
	width: 100%;
}
#section-last-ajout h2, #section-last-actu h2{
	border-bottom: 1px solid black;
	margin-bottom: 25px;
	padding-bottom: 10px;
}

.lien-article {
	text-align: right;
}

#section-last-actu .article-inner {
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	background-color: white;
	background-clip: content-box;
	transition: box-shadow 0.5s;
	transition-timing-function: ease-in-out;
}

#section-last-ajout .article-inner {
	text-align: center;
	background: #fff;
	padding: 0 0 20px 0;
	min-height: 340px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	transition: all 1s ease;
}


#section-last-actu .article-inner:hover{
	background-color: #f4f4f2;
	box-shadow: 8px 8px 5px rgba(0,0,0,0.2);
}


.article-inner p{
	padding: 5px;
}
.articles-actu {
	text-align: justify;
}

#section-last-ajout button{

}
/***********************************************
			Categorie Liste santon
**************************************************/
.container h2{
	padding-bottom: 10px;
    border-bottom: 1px dotted #647277;
    margin-bottom: 30px;
    color: #647277;
}
.section-content{
	padding: 0;
}
.col-nav-left{
	display: block;
}
.col-nav-left, .col-nav-left .nav a{
	color:#647277;
}
.col-nav-left li a{
	font-weight: 600;
}
.col-nav-left li a:hover, .col-nav-left li.active a, .col-nav-left li.active a:hover, .col-nav-left li a:focus{
	color: #fff;
}
.col-nav-left h3{
	margin-top: 0;
}
.col-nav-left li a:hover{

}
.bloc-santon{
	margin-bottom: 20px;
}
.bloc-santon-inner{
	text-align: center;
	background: #fff;
	padding: 0 0 20px 0;
	min-height: 340px;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	transition: all 1s ease;
	margin-top: 20px;
}

.bloc-santon-inner:hover{
	background: #BAD1D1;
	/*background: #BAD1D1;*/
	box-shadow: 8px 8px 5px rgba(0,0,0,0.2);
	transition: all 0.5s ease;
}
.bloc-santon-inner .btn-default:hover{
	
}
.bloc-santon-inner:hover .btn-default{
	background: #6E8A94;
	border-color: #6E8A94;
	color: #fff;
	transition: all 0.5s ease;
}
.bloc-santon-inner:hover .btn-default:hover{
	color: #fff;
}
.bloc-santon-inner .prix-santon{
	font-size: 1.4em;
}
.bloc-santon-inner h3{
	padding: 0 10px;
	margin-top: 10px;
	font-size: 1.3em;
}
.bloc-santon-inner h3 a{
	text-decoration: none;
	color: #000;
	font-weight: 500;
	display: block;
	height: 2.6em;
}
.bloc-santon-inner h3 a:hover{
	color:#647277;
}
.bloc-santon-inner p{
	padding: 0 10px;
}

.ajout-panier span{
	display: inline-block;
	font-size: 0;
	margin-left: 0px;
	transition: 0.5s ease;

}
.ajout-panier:hover span{
	margin-left: 10px;
	font-size: 14px;
}

/**************************************************
				Footer
**************************************************/

footer{
	color: white;
}

footer a{
	color: white;
}

footer div ul li{
	display: inline;
}

footer div ul{
	padding-top: 30px;
}

footer div p{
	float: right;
}

/**************************************************************
		Detail santon
**********************************************************/
#section-detail-santon .section-content figure img{
	border: 5px solid #fff;
	-webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);

}

.detail-santon h3{
	margin-top: 0;
	font-size: 2em;
}

#quantite-value{
	width: 65px;
	display: inline-block;
}

#buy-block .prix{
	font-family: 'palanquin';
	display: inline-block;
	font-size: 1.9em;
	line-height: 1em;

}
.detail-santon #description{
	margin-bottom: 30px;
}
.prix-article{
    vertical-align: top;
}

#buy-block .prix .euro{
	font-size: 0.65em;
	vertical-align: super;
}
#availability_statut{
	font-weight: 600;
}
.bouton-panier{
	margin-top: 5px;
    width: 100%;
    text-align: center;
}

@media screen and (min-width:480px){
	.bouton-panier{
    width: auto;
    text-align: right;
	}
}
#buy-block.form-group{
	display: inline-block;
}
#dispo-value .glyphicon-ok{
	color: #86AE2D;
}
#dispo-value .glyphicon-remove{
	color: #DA3B44;
}
.detail-ajout-panier{
	padding: 10px 14px;
    background: #fff;
    border-radius: 5px;
    margin-top: 30px;
    overflow: auto;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.1);
}

@media screen and (max-width: 768px) {
	
	#buy-block .prix{
		position: relative;
	}
	.prix-article{
    	vertical-align: baseline;
	}
	#buy-block .prix .euro{
		position: relative;
		top:0.3em;
	}
}

@media screen and (max-width: 992px) {

	.col-nav-left{
		display: none;
	}
}

/******************************************************
                  	CONTENU LISTE ARTICLES	
*******************************************************/


h1 {
	margin-left: 30px;
}

h1, h2, h3 {
	font-family: 'Palanquin', sans-serif;
}

.img-responsive {
	width: 100%;
	
}


.list-article {
	margin: 0;
	
}
.list-article article h2{
	margin-top:0;
}
.list-article-inner {
	padding: 20px 10px 20px 10px;
	overflow: auto;
}
.list-article article {
	transition: box-shadow 0.3s, background-color 0.3s;
	transition-timing-function: ease-in-out;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}


.list-article .readmore {
	float: right;
}

.list-article article:hover {
	background-color: #f4f4f2;
	border: 1px solid grey;
	// box-shadow: 10px 10px 5px #888888;	
}

@media screen and (min-width:768px){
	
	/*****************************************
		menu top
	***************************************/
	.navbar>li>a:focus, .navbar ul>li>a:hover, .navbar li.active > a, #dropcategorie > a:hover, li.active #dropcategorie > a, #dropcategorie > a:focus, li.active #dropcategorie > a:focus {
		top: -10px;
		box-shadow: 0px -1px 2px rgba(0,0,0,0.2);
	}

	.navbar ul > li{
		margin-bottom:0;
	}
}

@media screen and (min-width:992px) {
	.list-article article .img-responsive{
		max-width: 220px;
	}

	/************************************
			Page detail santon
	************************************/

	.bouton-panier{
		margin-top: 0;
	}
}