h3 {
	padding-left: 5px;
}

.list-article-inner{
	transition: box-shadow 0.3s, background-color 0.3s;
	transition-timing-function: ease-in-out;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	background-color: #f9e7cf !important;
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2) !important;
	margin-top: 20px;
}

.list-article article:hover {
	border: none !important;
	box-shadow: 8px 8px 5px rgba(0,0,0,0.2) !important;	
}
